# Exclude virtual environment directory
venv/
.env

# Exclude test data directory
data/input/
data/output/

# Exclude actual rulesets, but not the example
**/rulesets*

# Exclude IDE-specific files and directories
.vscode/
.idea/
*.code-workspace

# Exclude compiled Python files
*.pyc
__pycache__/
